/* 700px a více */
nav {
  width: 100%;
  z-index: 999;
  background-color: transparent;
  position: fixed;
}

.navigation {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.nav-header img {
  width: 163px;
  /* margin-left: 30px; */
}

.nav-header button {
  display: none;
}

.nav-list {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.27);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-list ul {
  margin-right: 50px;
}


.nav-list li {
  display: inline-block;
  margin-left: 10px;
}

.nav-list a {
  text-decoration: none;
  color: #8987A1;
}

.nav-list a:hover {
  color: #252432;
}

 /* Buttons */

 

 .btn-sing-in {
    cursor: pointer;
    margin-right: 10px;
    background-color: transparent;
    color: #8987A1;
    border: none;
 }

 .btn-sing-up {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #4E47FF;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
 }


/* 700px a méně */

@media (max-width: 700px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .nav-header {
    width: 100%;
  }

  .nav-header button {
    display: block;
    background-color: transparent;
    border: none;
  }

  .hamburger-icon {
    color: #e5e5e5;
    font-size: 25px;
    margin-right: 20px;
  }

  .nav-list li {
    width: 100%;
    padding: 10px 5px;
  }

 

  /* Classy pro react */

  .hide {
    height: 0px;
    overflow: hidden;
    transition: all 0.1s linear;
  }

  .show {
    height: 150px;
    /* transition: all 0.1s linear; */
  }
}